<div class="breadcrumb">
    <h1>Symulacja</h1>
    <ul>
        <li><a href="">Przyciski</a></li>
        <li>Przyciski</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<button type="button" class="btn btn-primary m-1" (click)="test()">Test połączenia z backendem</button>
<button type="button" class="btn btn-primary m-1" (click)="simulateResponseCode(500)">500</button>
<button type="button" class="btn btn-primary m-1" (click)="simulateResponseCode(404)">404</button>
<button type="button" class="btn btn-primary m-1" (click)="simulateResponseCode(200)">200</button>
<button type="button" class="btn btn-primary m-1" (click)="simulateResponseCode(201)">201</button>
